<section>
    <mat-card style="margin: 20px;">
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Enter your name"
                           [(ngModel)]="nameOne" name="nameOne">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Enter your second name"
                           [(ngModel)]="nameTwo" name="nameTwo">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>{{ nameOne }}</p>
            <p>{{ nameTwo }}</p>
        </mat-card-actions>
    </mat-card>
</section>

<mat-divider></mat-divider>

<section>
    <mat-card style="margin: 20px;">
        <mat-card-title>
            Client
        </mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field class="fullWidth">
                    <input matInput placeholder="First Name" name="firstName"
                        [(ngModel)]="client.firstName">
                </mat-form-field>
                <mat-form-field class="fullWidth">
                    <input matInput placeholder="Last Name" name="lastName"
                        [(ngModel)]="client.lastName">
                </mat-form-field>
                <mat-form-field class="fullWidth">
                    <input matInput placeholder="Address" name="address"
                        [(ngModel)]="client.address">
                </mat-form-field>
                <mat-form-field class="fullWidth">
                    <input matInput placeholder="Age" name="age"
                        [(ngModel)]="client.age" type="number">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>First Name: {{ client.firstName }}</p>
            <p>Last Name: {{ client.lastName }}</p>
            <p>Address: {{ client.address }}</p>
            <p>Age: {{ client.age }}</p>
        </mat-card-actions>
    </mat-card>
</section>