<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{ person.firstName }}</mat-card-title>
        <mat-card-subtitle>{{ person.lastName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> Age: {{ person.age }} </p>
        <p> {{ person.address }} </p>

        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" value="{{ person.firstName }}">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-raised-button color="primary">Primary</button>
    </mat-card-actions>
</mat-card>
