<section>
    <button mat-button color="primary" (click)="save()">Save</button>
    <button mat-button color="warn" (click)="inc()">{{ buttonName }}</button>
</section>

<section>
    <button mat-button color="primary" [disabled]="!btnEnable">My button 1</button>
    <button mat-button color="warn" [disabled]="!btnEnable">My button 2</button>
    <button mat-button color="warn" [disabled]="!btnEnable" (click)="disable()">Disable</button>

    <mat-progress-spinner
        [color]="primary"
        [mode]="spinnerMode"
        [value]="progress">
    </mat-progress-spinner>
</section>

<mat-divider></mat-divider>

<section>
    <mat-card>
        <mat-card-content>
            <p>
                <mat-checkbox color="warn" 
                (change)="cbChange($event)"
                >Disable</mat-checkbox>
            </p>
            <mat-form-field>
                <mat-select required 
                [disabled]="selectDisabled"
                (selectionChange)="selectionChange($event)">
                    <mat-option [value]="1">Volvo</mat-option>
                    <mat-option [value]="2">Saab</mat-option>
                    <mat-option [value]="3">Mercedes</mat-option>
                    <mat-option [value]="4">Audi</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <p>Selected option: {{ selectedOption }}</p>
        </mat-card-actions>
    </mat-card>
</section>

<mat-divider></mat-divider>

<section>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="First Name"
                       (input)="inputName = $event.target.value"
                       [value]="inputName">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            {{ inputName }}
        </mat-card-actions>
    </mat-card>
</section>